target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.scannerwork/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/


.idea/
.vscode/
/node_modules/
/src/main/resources/static/built/
/products/
