.submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    width: 7em;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    transition: 0.3s;
}

.submit-button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
} 