.dialog-container {
    position: fixed;
    z-index: 1;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 1em;
}

.dialog h2 {
    color: black;
    text-align: center;
}

.dialog * {
    margin: 0.3em auto;
}

.dialog form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.dialog form * {
    margin: 0.3em auto;
}

.dialog h3 {
    margin-bottom: 1em;
}