@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

#apply-form {
    display: flex;
    width: 100%;
    padding: 5em 0em;
    background-color: #fc4445;
}

#apply-form .container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#apply-form .container .title {
    color: white;
    font-size: 2em;
}

.conf-buttons {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 1em;
    font-size: 1.5em;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    transition: 0.3s;
}

.conf-buttons:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
} 

.submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    width: 7em;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    transition: 0.3s;
}

.submit-button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
} 

#content {
    display: flex;
    flex-direction: column;
}

.article {
    height: 100%;
    line-height: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 60%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 10px;
    padding: 2em;
    box-shadow: 1px 1px 10px #4444442d;
}

@media only screen and (max-width: 1160px) {
    .article {
        width: 80%;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.article * {
    margin: 1em auto 1em auto;
}

.article .title {
    font-size: 2em;
    color: #337ab7;
    padding: 0.3em;
    transition: 0.3s;
}

.article .title:hover {
    padding: 0.3em 3em;
    color: #ffffff;
    background-color: #fc4445;
}

.article p {
    font-size: 1.0em;
    display: flex;
    flex-direction: column;
}

.article table,
.article ul,
.article ol {
    font-size: 1.0rem;
}


li h3 {
    text-align: center;
    background-color: #fc4445;
    color: white;
    padding: 0.3em 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,
td {
    padding: 1em;
}

tr td a.action {
    margin: 0.3em;
}

th {
    color: white;
    background-color: #fc4445;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content-button {
    margin: auto;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.3em;
    margin-bottom: 1em;
    font-size: 1.5em;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 10em;
    transition: 0.3s;
}

.content-button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form * {
    margin: 0.5em auto;
}

input, textarea {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus, textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.controls {
    display: flex;
}

.controls * {
    padding: 0.3em;
}

.dialog-container {
    position: fixed;
    z-index: 1;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 1em;
}

.dialog h2 {
    color: black;
    text-align: center;
}

.dialog * {
    margin: 0.3em auto;
}

.dialog form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.dialog form * {
    margin: 0.3em auto;
}

.dialog h3 {
    margin-bottom: 1em;
}

#footer {
    display: flex;
    margin-top: auto;
    height: 3em;
    background-color: #fc4445;
    color: white;
}

#footer * {
    margin: auto;
}

#header {
    display: flex;
    flex-wrap: wrap;
    background: #f8f8f8;
    width: 100%;
    border-bottom: 5px solid #fc4445;
}

#header * {
    margin: auto;
}

.navigation-menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-menu ul {
    display: flex;
    list-style-type: none;
}

.nav-item a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-item a:active, .nav-item a:visited,
.page-title a:active, .page-title a:visited {
    color: black;
}

.page-title a {
    text-decoration: none;
}

.page-title {
    background-color: #fc4445;
    padding: 0.5em 2em;
    transition: 0.3s;
}

.page-title:hover {
    background-color: transparent;
}

.nav-item a:hover {
    background-color: #fc4445;
    color: #f8f8f8;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.308);
}

#login-form,
#login-form form,
#register {
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    width: 100%;
}

#register * {
    margin: 0.3em auto;
}

input {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

#login-form form * {
    margin: 0.3em auto;
}

#login-form * {
    margin: auto;
}