#login-form,
#login-form form,
#register {
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    width: 100%;
}

#register * {
    margin: 0.3em auto;
}

input {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

#login-form form * {
    margin: 0.3em auto;
}

#login-form * {
    margin: auto;
}