#apply-form {
    display: flex;
    width: 100%;
    padding: 5em 0em;
    background-color: #fc4445;
}

#apply-form .container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#apply-form .container .title {
    color: white;
    font-size: 2em;
}

#apply-form .container .conf-buttons {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 1em;
    font-size: 1.5em;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    transition: 0.3s;
}

#apply-form .container .conf-buttons:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
} 